{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<h1 class="my-3">{% block h1 %}Address confirmation{% endblock %}</h1>
<div class="container mt-5">
  <h2>Select Billing and Delivery Addresses</h2>
  {% if customer_addresses %}
    <form method="post" action="{% url 'orders:create-order' %}">
      {% csrf_token %}
      <div class="row align-items-end">
        <div class="col-md-5">
          <div class="mb-3">
            <label for="billingAddress" class="form-label">Billing Address</label>
            <select name="billingAddress" id="billingAddress" class="form-select">
              {% for address in customer_addresses %}
                <option value="{{ address.id }}">{{ address }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-5">
          <div class="mb-3">
            <label for="deliveryAddress" class="form-label">Delivery Address</label>
            <select name="deliveryAddress" id="deliveryAddress" class="form-select">
              {% for address in customer_addresses %}
                <option value="{{ address.id }}">{{ address }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-2 text-bottom mb-3 text-end">
          <a href="{% url 'customer:edit-address' %}" class="btn btn-primary">Add an address</a>
        </div>
      </div>
      <div class="text-end mt-3">
        {% url 'cart:cart-view' as cart_redirect %}
        {% bootstrap_button 'Cancel' button_type='link' href=cart_redirect button_class='btn-secondary' extra_classes='mx-3' %}
        {% bootstrap_button 'Place Order' button_type='submit' button_class='btn-primary' %}
      </div>
    </form>
  {% else %}
    <p>No addresses available for the customer. Please add an address:</p>
    <a href="{% url 'customer:edit-address' %}" class="btn btn-primary">Add Address</a>
  {% endif %}
</div>
{% endblock %}
