{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="my-3">{% block h1 %}Order Details{% endblock %}</h1>
  <div class="card mt-4">
    <div class="card-header">
      Order ID: {{ order.id }}
    </div>
    <div class="card-body">
      <h5 class="card-title">Customer: {{ order.customer.user.username }}</h5>
      <p class="card-text">Status: {{ order.status }}</p>
      <p class="card-text">Total Price: ${{ order.price }}</p>
      <p class="card-text">Billing Address: {{ order.billing_address }}</p>
    </div>
  </div>

  <h3 class="mt-4">Products:</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {% for order_product in order_products %}
        <tr>
          <td>{{ order_product.product.name }}</td>
          <td>{{ order_product.number }}</td>
          <td>${{ order_product.subtotal }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="mt-5">
    <h5>Order Price: ${{ order.price }}</h5>
    <h5>Delivery Fee: ${{ delivery.delivery_fee }}</h5>
    <h3>Total: ${{ total }}</h3>
  </div>

  {% if delivery.status == 'Pending' %}

  <div class="mt-5">
    <div class="card">
      <div class="card-header">
        About your delivery
      </div>
      <div class="card-body">
        <p class="card-text">Address: {{ delivery.shipping_address }}</p>
        <p class="card-text">Estimated shipping date: {{ delivery.delivery_date }}</p>
        <p class="card-text">Estimated arrival date: {{ delivery.estimated_arrival_date }}</p>
      </div>
    </div>
  </div>
  
  {% else %}

  <div class="mt-5">
    <div class="card">
      <div class="card-header">
        About your delivery
      </div>
      <div class="card-body">
        <p class="card-text">Address: {{ delivery.shipping_address }}</p>
        <p class="card-text">Your order was shipped on {{ delivery.delivery_date }}</p>
        <p class="card-text">You were delivered on {{ delivery.estimated_arrival_date }}</p>
      </div>
    </div>
  </div>

  {% endif %}

  {% if order.status == 'Pending' %}

  <div class="mt-4">
    <p class="lead" style="text-align: center;">Please review your order details and click the button below to proceed to payment.</p>
    <div class="text-end mt-3">
      <a href="{% url 'orders:confirm-payment' order_id=order.id %}" class="btn btn-primary" >Proceed to payment</a>
    </div>
  </div>

  {% endif %}

</div>
{% endblock %}
