{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<h1 class="my-3">{% block h1 %}{% if address %}Edit Address{% else %}New Address{% endif %}{% endblock %}</h1>

<div class="card" style="width: 60%;">
    <div class="card-body">

      <form method="POST">
        {% csrf_token %}
        <h2>Address Information</h2>
        <div>
          {% bootstrap_form address_form layout='horizontal' %}
          <div class="text-end my-3">
            {% url 'customer:profile' as profile_redirect %}
            {% bootstrap_button 'Cancel' button_type='link' href=profile_redirect button_class='btn-secondary' extra_classes='mx-3' %}
            {% bootstrap_button 'Save' button_type='submit' button_class='btn-primary' %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
