body {
    background-color: #ffffcc; /* Light yellow color */
    color: #000000; /* Black text color */
    text-align: center;
    padding-top: 100px;
}

form {
    display: inline-block;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 30px;
}

button[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

