{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<h1 class="my-3">{% block h1 %}Your cart{% endblock %}</h1>

<div class="container">
    {% if cart_items %}
        <table class="table table-striped align-middle" id="cartItems" role="tablist">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in cart_items %}
                <tr>
                    <td><a href="{% url 'catalog:product_view' slug=cart_item.product.slug %}">{{ cart_item.product.name }}</a></td>
                    <td><img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}" width="50" height="50"></td>
                    <td>${{ cart_item.product.price }}</td>
                    <td>${{ cart_item.subtotal }}</td>
                    <td>
                        <select class="form-select form-select-sm" id="item-quantity">
                            {% for x in select_quantity_iterator %}
                            {% if forloop.counter == cart_item.number %}
                            <option value="{{ forloop.counter }}" selected>{{ forloop.counter }}</option>
                            {% else %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td class="text-end">
                        <a href="{% url 'cart:remove_from_cart' cart_item.product.id %}" class="btn btn-primary btn-sm">Remove unit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="alert alert-info" role="alert">
        Your cart is empty.
    </div>
    {% endif %}
</div>

<script>

    var selectors = document.querySelectorAll('.form-select');
    selectors.forEach(function (selector, key) {
        selector.addEventListener('change', function() {
            var redirectUrl = "{% url 'cart:change_quantity' item_counter=0 item_number=1 %}".replace('0', key).replace('1', this.value);
            window.location.href = redirectUrl;
        });
    });

</script>


{% endblock %}