{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}

<h1 class="my-3">{% block h1 %}Change password{% endblock %}</h1>

    <div class="col-md-6">

    <form method="POST">
        {% csrf_token %}

        {% bootstrap_form password_form layout='horizontal' %}

        <div class="text-end my-3">
            {% if request.META.HTTP_REFERER %}
                {% bootstrap_button 'Cancel' button_type='link' href=request.META.HTTP_REFERER button_class='btn-secondary' extra_classes='mx-3' %}
            {% else %}
                {% bootstrap_button 'Cancel' button_type='link' href='/' button_class='btn-secondary' extra_classes='mx-3' %}
            {% endif %}
            {% bootstrap_button 'Save' button_type='submit' button_class='btn-primary' %}
        </div>
    </form>

</div>

{% endblock %}