{% extends 'base.html' %}

{% block content %}

    <h1>{% block h1 %}Home{% endblock %}</h1>

    <div class="content-container">
        <h2>Featured Products</h2>
        {% if products %}
        <div class="container marketing">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-4" style="text-align: center;">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" height="140">
                    <h2 class="fw-normal">{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p>Price : {{ product.price }}$</p>
                    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>No products to display... Come back later!</p>
        {% endif %}
    </div>
{% endblock %}
