{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}

    <h1>{% block h1 %}Register{% endblock %}</h1>

    <form method="post">
        {% csrf_token %}
        
        <!-- User Registration Form -->
        {% bootstrap_form form %}
        
        <!-- Customer Profile Form -->
        <h2>Customer Profile</h2>
        {% bootstrap_form profile_form %}
        
        <!-- Address Form -->
        <h2>Address</h2>
        {% bootstrap_form address_form %}
        
        {% buttons submit='Register' reset='Cancel' %}{% endbuttons %}
    </form>

{% endblock %}
